/* Empty. Add your own CSS if you like */

.mt-0{ margin-top:0px !important; }
.mt-5{ margin-top:5px; }
.mt-10{ margin-top:10px; }
.mt-15{ margin-top:15px; }
.mt-20{ margin-top:20px; }

.mb-0{ margin-bottom:0px; }
.mb-5{ margin-bottom:5px; }
.mb-10{ margin-bottom:10px; }
.mb-15{ margin-bottom:15px; }
.mb-20{ margin-bottom:20px; }

.pt-0{ padding-top:0px; }
.pt-5{ padding-top:5px; }
.pt-10{ padding-top:10px; }
.pt-15{ padding-top:15px; }
.pt-20{ padding-top:20px; }

.pb-0{ padding-bottom:0px; }
.pb-5{ padding-bottom:5px; }
.pb-10{ padding-bottom:10px; }
.pb-15{ padding-bottom:15px; }
.pb-20{ padding-bottom:20px; }

.text-center{ text-align:center; }
.text-left{ text-align:left; }
.text-right{ text-align:right; }

.text-grey-1{ color: #aaaaaa; }
.text-grey-2{ color: #dddddd; }
.text-grey-3{ color: #f3f3f3; }

.bordered-left{
	border-left: 3px solid #dddddd;
	padding: 5px;
	margin: 10px;
	white-space: normal !important;
}

.normal-wrapping,
.normal-wrapping p,
.normal-wrapping div{
	white-space: normal;
}

input[type="month"]{ background-color: #f3f3f3;}

/* textAngular editor */
#text-angular-editor.item{
	padding: 0;
}
.ta-editor {
	min-height: 200px !important;
	height: auto;
	overflow: auto;
	font-family: inherit;
	font-size: 100%;
}

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 0px;
	margin-left: 0px; /* Override bootstrap */
	border: 0px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 0px solid #EEE;
}

.ta-scroll-window > .ta-bind{
	min-height: 200px !important;
}

textarea.ta-bind {
	width: 100%;
}

.item > text-angular{
	width: 100%;
}
/* textAngular editor */

@media (min-width: 320px) {
	.fill-width{
		width: 100%;
	}
}

@media (min-width: 567px) {

}

@media (min-width: 680px) {

}


@media (min-width: 767px) {
	.fill-width{
		width: 400px;
		display:block;
		margin:0px auto;
	}
}

@media (min-width: 1023px) {

}
