<ion-modal-view>
	<ion-header-bar>
		<h4 class="title">Add New Skill</h4>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<div class="item item-input">
				<input type="text" data-ng-model="skill.value" placeholder="skill" />
				<input type="hidden" data-ng-model="skill.id" />
			</div>

			<div class="item">
				<button type="button" ng-click="saveAndCloseModal()" class="button button-positive" ng-disabled="!skill.value">
					Save
				</button>
				<button type="button" ng-click="closeModal()" class="button button-light">
					Cancel
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
