<ion-modal-view>
	<ion-header-bar>
		<h4 class="title">Additional Info</h4>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<div class="item item-input" id="text-angular-editor">
				<text-angular ta-toolbar="[]" ng-model="additionalInfo.value"></text-angular>
			</div>

			<div class="item">
				<button type="button" ng-click="saveAdditionalInfo()" class="button button-positive" ng-disabled="!additionalInfo.value">
					Save
				</button>
				<button type="button" ng-click="closeInfoModal()" class="button button-light">
					Cancel
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
