<ion-modal-view>
	<ion-header-bar>
		<h4 class="title">Attach Resume</h4>
		<button type="button" class="button button-right button-icon" ng-click="closeResumeModal()">
			<i class="ion-ios-close-empty"></i>
		</button>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<div class="item item-input">
				<input type="file" onchange="angular.element(this).scope().file_changed(this)" />
			</div>

			<div class="item">
				<div ng-show="connection=='none'" class="mt-10 mb-10 text-center assertive">
					<small>
						<i class="ion-android-warning"></i> Internet connection is required!
					</small>
				</div>
				{{tmpResumeAttachment}}
				<button type="button" ng-click="saveAndCloseResumeModal()" class="button button-positive" ng-disabled="connection=='none'">
					Save
				</button>

				<button type="button" ng-click="closeResumeModal()" class="button button-light">
					Cancel
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
