<ion-modal-view>
	<ion-header-bar>
		<h4 class="title">Countries</h4>

		<button type="button" class="button button-right button-light button-icon" ng-click="closeCountryModal()">
			<i class="ion-ios-close-empty"></i>
		</button>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<ion-toggle ng-repeat="country in countries track by country.id" ng-model="selectedCountry[country.name]" ng-value="{{country.id}}" ng-change="toggleCountry(country.id)" class="pt-15 pb-15">{{country.name}}</ion-toggle>
		</div>
	</ion-content>
</ion-modal-view>
