<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Filters</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<div class="item item-input">
				<input type="text" name="name" value="keyword" />
                <input type="text" name="name" value="searchby" />
                <input type="text" name="name" value="status" />
                <input type="text" name="name" value="emid" />
                <input type="text" name="name" value="level" />
                <input type="text" name="name" value="industry" />
                <input type="text" name="name" value="spec" />
                <input type="text" name="name" value="role" />
                <input type="text" name="name" value="country" />
                <input type="text" name="name" value="state" />
                <input type="text" name="name" value="smin" />
                <input type="text" name="name" value="smax" />
                <input type="text" name="name" value="type" />
                <input type="text" name="name" value="seostate" />
                <input type="text" name="name" value="o" />
                <input type="text" name="name" value="b" />
                <input type="text" name="name" value="advertiser" />
                <input type="text" name="name" value="da" />

                <input type="text" name="name" value="page" />
			</div>

            <div class="item item-select">

            </div>




			<div class="item">
				<button type="button" ng-click="saveAndCloseModal()" class="button button-positive">
					Save
				</button>
				<button type="button" ng-click="closeModal()" class="button button-light">
					Cancel
				</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
