<ion-view view-title="Update Job Preferences">
	<ion-content class="padding">
		<form name="jobPreferences" ng-submit="saveJobPref(jobPreferences)" novalidate>
			<div class="list list-inset">

				<div class="item">
					<h2><label for="expectedSalary" ng-class="{'input-label':true, assertive: $parent.expectedSalary ? false : true}">Expected Salary</label></h2>
					<div class="list">
						<div class="item item-input item-select">
							<input type="number" data-ng-model="$parent.expectedSalary" placeholder="0.00" id="expectedSalary" required />
							<select data-ng-options="o.name for o in currencies track by o.id" data-ng-model="$parent.selectedCurrency" id="currency"></select>
						</div>
					</div>
				</div>

				<div class="item">
					<h2 ng-class="{assertive: $parent.tmpSelectedJobType.length == 0 ? true : false}">Preferred Job Type</h2>

					<div class="list list-inset">
						<ion-toggle ng-repeat="(id, name) in jobTypes" ng-model="$parent.selectedJobType[id]" toggle-class="toggle-calm" ng-true-value="{{id}}" ng-false-value="0" ng-change="checkValue()">{{name}}</ion-toggle>
					</div>
				</div>

				<div class="item">
					<h2 ng-class="{assertive: checkedState.length > 0 ? false: true}">Preferred Working Location in Malaysia</h2>
					<button class="button button-positive" ng-click="openStateModal()" type="button">Select...</button>

					<div class="list list-inset" ng-show="checkedState.length > 0">
						<div class="item" ng-repeat="(id, status) in selectedState track by id" ng-show="status == true">{{tempStates[id].name}}</div>
					</div>
				</div>

				<div class="item">
					<h2>Other Preferred Countries</h2>
					<button class="button button-positive" ng-click="openCountryModal()" type="button">Select...</button>

					<div class="list list-inset" ng-show="selectedCountry.length > 0">
						<div class="item" ng-repeat="(id, status) in selectedCountry track by id" ng-show="status == true">{{tempCountries[id]}}</div>
					</div>
				</div>

				<div class="item">
					<button class="button button-positive" type="submit" ng-disabled="!((expectedSalary && selectedCurrency) && tmpSelectedJobType.length > 0 && checkedState.length > 0)">
						<i class="ion-ion-checkmark-empty"></i> Save
					</button>
				</div>
			</div>
		</form>

	</ion-content>
</ion-view>
