<ion-view view-title="Update Work Experience">
	<ion-nav-buttons side="left">
		<button type="button" class="button button-clear button-positive" ng-click="go('/tab/resume')">
			<i class="ion-ios-arrow-left"></i> Resume
		</button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<form name="workExp" ng-submit="saveWorkExp(workExp)" novalidate>
			<div class="list list-inset">
				<div class="item">
					<label for="position-title" ng-class="{'input-label':true,assertive: positionTitle ? false : true}">Position Title</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="$parent.positionTitle" id="position-title" placeholder="Position Title" required />
						</div>
					</div>
				</div>

				<div class="item">
					<label for="company-name" ng-class="{'input-label':true,assertive:companyName ? false : true}">Company Name</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="$parent.companyName" id="company-name" placeholder="Company Name" required />
						</div>
					</div>
				</div>

				<div class="item">
					<label for="employment-type" ng-class="{'input-label':true,assertive:selectedEmploymentType ? false : true}">Employment Type</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in jobTypes track by o.id" data-ng-model="$parent.selectedEmploymentType" id="employment-type" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<label for="job-level" ng-class="{'input-label':true,assertive:selectedJobLevel ? false : true}">Job Level</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in jobLevels track by o.id" data-ng-model="$parent.selectedJobLevel" id="job-level" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<p>Monthly Salary (optional)</p>
					<div class="list">
						<div class="item item-select pt-0 pb-0">
							<input type="number" ng-model="$parent.monthlySalary" id="monthly-salary" placeholder="0.00" />
							<select data-ng-options="o.name for o in currencies track by o.id" data-ng-model="$parent.selectedCurrency" id="currency"></select>
						</div>
					</div>
				</div>

				<div class="item">
					<label for="job-specialisation" ng-class="{'input-label':true,assertive: selectedJobSpecialisation ? false : true}">Specialisation</label>
					<div class="list mb-5">
						<div class="item item-select">
							<select data-ng-options="o.name for o in jobSpecialisations track by o.id" data-ng-model="selectedJobSpecialisation" id="job-specialisation" ng-change="updateJobRole()" required></select>
						</div>
					</div>

					<label for="job-role" ng-class="{'input-label':true,assertive : selectedJobRole ? false : true}" ng-show="selectedJobSpecialisation">Sub Specialisation</label>
					<div class="list">
						<div class="item item-select" ng-show="selectedJobSpecialisation">
							<select data-ng-options="o.name for o in jobRoles track by o.id" data-ng-model="$parent.selectedJobRole" id="job-role" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<label for="industry" ng-class="{'input-label':true, assertive: selectedIndustry ? false: true}">Company Industry</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in industries track by o.id" data-ng-model="$parent.selectedIndustry" id="industry" required></select>
						</div>
					</div>
				</div>

				<div class="item item-input">
					<label for="start-month" ng-class="{'input-label':true,assertive:startMonth ? false : true}">Start Date</label>
					<input type="month" ng-model="$parent.startMonth" id="start-month" required />
				</div>

				<div class="item item-input">
					<label for="end-month" class="input-label">End Date</label>
					<input type="month" ng-model="$parent.endMonth" id="end-month" />
				</div>

				<div class="item">
					<p>Experience</p>
					<div class="list">
						<div class="item">
							<text-angular ta-toolbar="[]" placeholder="experience" ng-model="$parent.experience"></text-angular>
						</div>
					</div>
				</div>

				<div class="item">

					<div ng-show="connection=='none'" class="mt-10 mb-10 text-center assertive">
						<small>
							<i class="ion-android-warning"></i> Internet connection is required!
						</small>
					</div>

					<button class="button button-positive" type="submit" ng-disabled="(!positionTitle && !companyName && !selectedEmploymentType && !selectedJobLevel && !monthlySalary && !selectedJobSpecialisation && !selectedJobRole && !selectedIndustry && !startMonth) || connection=='none'">
						<i class="ion-ion-checkmark-empty"></i> Save
					</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
