<ion-view view-title="Update Resume Access Level">
	<ion-content class="padding">
		<div class="list list-inset">
			<div class="item">
				<label for="access_open">
					<h2>
						<input type="radio" data-ng-model="js.access" ng-value="'Open'" name="access" id="access_open" /> Open
					</h2>
				</label>
				
				<div class="list list-inset">
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> You can apply jobs</div>
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> Employers can search your resume</div>
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> Employers can contact you for job opportunities</div>
				</div>
			</div>
		</div>
		<div class="list list-inset">
			<div class="item">
				<label for="access_limited">
					<h2>
						<input type="radio" data-ng-model="js.access" ng-value="'Limited'" name="access" id="access_limited" /> Limited
					</h2>
				</label>
				
				<div class="list list-inset">
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> You still can apply jobs</div>
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> Employers can search your resume but cannot see your contact details</div>
					<div class="item item-icon-left"><i class="icon ion-ios-close-empty assertive"></i> Employers cannot contact you without your approval</div>
				</div>
			</div>
		</div>
		<div class="list list-inset">
			<div class="item">
				<label for="access_hidden">
					<h2>
						<input type="radio" data-ng-model="js.access" ng-value="'Hidden'" name="access" id="access_hidden" /> Hidden
					</h2>
				</label>
				
				<div class="list list-inset">
					<div class="item item-icon-left"><i class="icon ion-ios-checkmark-empty balanced"></i> You still can apply jobs</div>
					<div class="item item-icon-left"><i class="icon ion-ios-close-empty assertive"></i> Employers cannot search for your resume</div>
					<div class="item item-icon-left"><i class="icon ion-ios-close-empty assertive"></i> Employers cannot contact you for job opportunities</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>