<ion-view view-title="Update Education">
	<ion-nav-buttons side="left">
		<button type="button" class="button button-clear button-positive" ng-click="go('/tab/resume')">
			<i class="ion-ios-arrow-left"></i> Resume
		</button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<form name="education" ng-submit="saveEducation(education)" novalidate>
			<div class="list list-inset">

				<div class="item">
					<label for="education-level" ng-class="{'input-label':true,assertive:selectedEducationLevel ? false : true}">Education Level</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in EducationLevel track by o.id" data-ng-model="$parent.selectedEducationLevel" id="education-level" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<label for="position-title" ng-class="{'input-label':true,assertive: school ? false : true}">School/University</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="$parent.school" id="school" placeholder="School" required />
						</div>
					</div>
				</div>

				<div class="item">
					<label for="education-major" ng-class="{'input-label':true}">Education Major</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="$parent.educationMajor" id="education-major" placeholder="Major" />
						</div>
					</div>
				</div>

				<div class="item">
					<label for="field-of-study" ng-class="{'input-label':true,assertive:selectedEducationField ? false : true}">Field of Study</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in EducationField track by o.id" data-ng-model="$parent.selectedEducationField" id="field-of-study" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<label for="grade" ng-class="{'input-label':true}">Grade</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="$parent.grade" id="grade" placeholder="Grade" />
						</div>
					</div>
				</div>

				<div class="item">
					<label for="year-graduated" ng-class="{'input-label':true,assertive: yearGraduated ? false : true}">Year Graduated</label>
					<div class="list">
						<div class="item item-select">
							<select data-ng-options="o.name for o in years track by o.id" data-ng-model="$parent.yearGraduated" id="year-graduated" required></select>
						</div>
					</div>
				</div>

				<div class="item">
					<h2><label for="education-info" class="input-label">Education Info</label></h2>
					<div class="list">
						<div class="item">
							<text-angular ta-toolbar="[]" placeholder="experience" ng-model="$parent.educationInfo" placeholder="Education Info"></text-angular>
						</div>
					</div>
				</div>

				<div class="item">
					<div ng-show="connection=='none'" class="mt-20 mb-20 text-center assertive">
						<small>
							<i class="ion-android-warning"></i> Internet connection is required!
						</small>
					</div>

					<button class="button button-positive" type="submit" ng-disabled="(!selectedEducationLevel || !school || !selectedEducationField || !yearGraduated) || connection=='none'">
						<i class="ion-ion-checkmark-empty"></i> Save
					</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
