<ion-nav-bar>
  	<ion-nav-back-button class="button-clear" ng-click="go('#/login')">
    	<i class="ion-arrow-left-c"></i> Login
  	</ion-nav-back-button>
</ion-nav-bar>

<ion-view view-title="Forgot Password">
	<ion-content class="padding">

        <form name="forgotPasswordForm" ng-submit="submit()" novalidate>
			<div class="list list-inset">
				<div class="item">
					<label for="email" ng-class="{'input-label':true,assertive: js.email ? false : true}">Email</label>
					<div class="list">
						<div class="item item-input">
							<input type="text" ng-model="js.email" id="email" placeholder="Email" required />
						</div>
					</div>
				</div>
            </div>

            <div class="button-bar">
				<a href="#/login" class="button button-light">
					<i class="ion-ios-arrow-left"></i> Login
				</a>
				<button type="submit" class="button button-positive" ng-disabled="!js.email || button.disabled">
					{{button.text}}
				</button>
			</div>
        </form>
    </ion-content>
</ion-view>
