<ion-view view-title="Login">
	<ion-content class="padding">
		
		<div class="mb-10" ng-show="isConnected">
			<i class="ion-android-warning"></i> {{isConnected}}
		</div>

		<form name="loginForm" ng-submit="submit()" novalidate>
			<div>
				<br />
				<img src="img/jenjobs_logo_big.png" alt="JenJOBS" class="fill-width" />
				<br />
			</div>

			<div class="list list-inset">
				<label class="item item-input">
					<input type="email" name="username" id="username" placeholder="Email Address" ng-required="true" ng-model="user.username" />
				</label>

				<label class="item item-input">
					<input type="password" id="password" placeholder="Password" ng-model="user.password" ng-required="true" />
				</label>
			</div>
			<p>{{log}}</p>
			<div class="button-bar">
				<button type="submit" class="button button-block button-positive" ng-disabled="loginForm.$invalid || (loginForm.$valid && disableButton)">
					{{button.text}}
				</button>
				<a href="#/register" class="button button-block button-light">
					Register
				</a>
			</div>

			<div class="button-bar">
				<a href="#/forgotpassword" class="button button-clear button-positive">
					<i class="ion-ios-help-empty"></i> Forgot Password
				</a>
				<a href="#/jobs" class="button button-clear button-positive">
					<i class="ion-ios-search"></i> Search for jobs
				</a>
			</div>
		</form>
	</ion-content>
</ion-view>
