<ion-view view-title="Register">
	<ion-content class="padding">
		<form name="loginForm" ng-submit="submit()" novalidate>
			<div class="list list-inset">
				<label class="item item-input">
					<input type="email" name="username" id="username" placeholder="Email Address" ng-required="true" ng-model="user.username" />
				</label>
				
				<label class="item item-input">
					<input type="password" id="password" placeholder="Password" ng-model="user.password" ng-required="true" />
				</label>
			</div>
			
			<div class="button-bar">
				<button type="submit" class="button button-block button-positive" ng-disabled="loginForm.$invalid">
					Login
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>
