<ion-view view-title="Job Application">
	<ion-content class="padding">
		<div class="list list-inset">
			<div class="item" ng-show="application.length == 0">
				<i class="ion-android-warning"></i> No application
			</div>
			<div class="item" ng-repeat="app in application">
				<div>
					<button type="button" name="button" class="button button-link" ng-click="go('tab/job-details/{{app.post_id+(app.closed?'?closed=1':'')}}')"
						ng-show="!app.closed">{{app.title}}</button>
					<strong ng-show="app.closed">{{app.title}}</strong>
					<span ng-show="app.closed" class="badge badge-assertive">Closed</span>
				</div>
				
				<p>Applied On {{app.date_created|date}}</p>
				<p><small>{{app.status_desc}}</small></p>
			</div>
		</div>
	</ion-content>
</ion-view>
