<ion-view view-title="Profile">
	<ion-nav-buttons side="right">
		<button type="button" class="button button-clear button-positive" ng-click="go('/tab/resume')">Resume</button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">{{js.name}}</div>
					<div class="col col-25 text-right item-icon-right">
						<a href="#/tab/profile-update" class="positive">
							<i class="icon ion-compose"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="item" ng-show="js.photo_file && js.photo_file != null">
				<img ng-src="{{js.photo_file}}" alt="" class="fill-width" />
			</div>

			<div class="item"><div>Username :<b>{{js.username}}</b></div></div>
			<div class="item"><div>Email :<b>{{js.email}}</b></div></div>
			<div class="item"><div>Mobile :<b>{{js.mobile_no}}</b></div></div>
			<div class="item" ng-show="js.country=127"><div>I/C :<b>{{js.ic_no}}</b></div></div>
			<div class="item" ng-show="js.country!=127"><div>Passport :<b>{{js.passport_no}}</b></div></div>
			<div class="item"><div>Gender :<b>{{js.gender}}</b></div></div>

			<div class="item">
				<div>DoB :<b ng-show="js.dob">{{js.dob|date:'dd/MM/yyyy'}}</b></div>
			</div>

			<div class="item"><div>Country :<b>{{js.country}}</b></div></div>
		</div>
	</ion-content>
</ion-view>
