<ion-view view-title="Profile">
	<ion-content class="padding">

		<!-- test section --
		<div class="mb-10" ng-show="isConnected">
			<i class="ion-android-warning"></i> {{isConnected}}
		</div>

		<button type="button" class="button button-light button-small" ng-click="go('/test')">
			Navigator
		</button>

		<div class="mb-10 mt-10">
			Service: {{serviceStatus}}
		</div>
		-- end test -->

		<div class="list card" ng-show="!isLoading">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">{{js.name}}</div>
					<div class="col col-25 text-right item-icon-right">
						<a href="#/tab/profile-update" class="positive">
							<i class="icon ion-compose"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="item" ng-show="js.photo_file && js.photo_file != null">
				<img ng-src="{{js.photo_file}}" alt="" class="fill-width" />
			</div>

			<div class="item"><div>Username :<b>{{js.username}}</b></div></div>
			<div class="item"><div>Email :<b>{{js.email}}</b></div></div>
			<div class="item"><div>Mobile :<b>{{js.mobile_no}}</b></div></div>
			<div class="item" ng-show="js.country=127"><div>I/C :<b>{{js.ic_no}}</b></div></div>
			<div class="item" ng-show="js.country!=127"><div>Passport :<b>{{js.passport_no}}</b></div></div>
			<div class="item"><div>Gender :<b>{{js.gender}}</b></div></div>

			<div class="item">
				<div>DoB :<b ng-show="js.dob">{{js.dob|date:'dd/MM/yyyy'}}</b></div>
			</div>

			<div class="item"><div>Country :<b>{{js.country}}</b></div></div>

			<div class="item">
				<button type="button" name="button" class="button button-positive button-block" ng-click="go('/tab/resume')">
					<i class="ion-ios-list-outline"></i> Online Resume
				</button>
			</div>
		</div>

		<div class="card" ng-show="isLoading">
			<div class="item item-text-wrap text-center">
				<i class="ion-ios-loop"></i> loading...
			</div>
		</div>
	</ion-content>
</ion-view>
