<ion-view view-title="Jobs">
	<ion-nav-buttons side="left">
		<button type="button" class="button button-clear button-positive" ng-click="openFilterModal()"><i class="ion-ios-settings-strong"></i> Filter</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button type="button" class="button button-clear button-positive" ng-click="openBookmarkSection()"><i class="ion-ios-bookmarks"></i> Bookmarks</button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="job in jobs">
				<h2><strong><a class="positive" ng-href="#/tab/job-details/{{job.post_id}}">{{job.title}}</a></strong></h2>
				<p><small>{{job.company_name}}</small></p>
				<p ng-show="job.show_salary"><small class="balanced">{{job.salary_min|currency:job.currency+' ':0}} - {{job.salary_max|currency:job.currency+' ':0}} per month</small></p>
				<p ng-show="!job.show_salary"><small class="text-grey-1">Salary undisclosed</small></p>


				<p><i class="ion-ios-location"></i> <small ng-bind-html="job.job_location"></small></p>
				<p><i class="ion-ios-box"></i> <small>{{job.job_type}}</small></p>
				<p><i class="ion-ios-calendar-outline"></i> <small>Date close: {{job.date_closed|date}}</small></p>

				<p class="bordered-left"><small ng-bind-html="job.job_desc_brief"></small></p>
				<p><small ng-bind-html="job.spec" class="text-grey-1"></small></p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
