<ion-view view-title="Settings">
	<ion-content>
		<div class="list">
			<div class="item item-toggle item-icon-left">
				<i class="icon ion-chatbubble-working"></i>
				Subscribe SMS Job Alert
				<label class="toggle">
					<input type="checkbox" />
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle item-icon-left">
				<i class="icon ion-email"></i>
				Subscribe Email Alert
				<label class="toggle">
					<input type="checkbox" />
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle item-icon-left">
				<i class="icon ion-android-notifications"></i>
				Enable Notification
				<label class="toggle">
					<input type="checkbox" />
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<a class="item item-icon-left" href="#/tab/settings" ng-click="logout()">
				<i class="icon ion-log-out"></i>
				Log Out
			</a>

		</div>
	</ion-content>
</ion-view>
