<ion-nav-bar>
  	<ion-nav-back-button class="button-clear" ng-click="myGoBack()">
    	<i class="ion-arrow-left-c"></i> Back
  	</ion-nav-back-button>
</ion-nav-bar>

<ion-view view-title="Online Resume">
	<ion-content class="padding">
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Resume Visibility</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="go('/tab/resume-update-access-level')" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-compose-outline positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body">
				<span data-ng-model="js.access">{{js.access}}</span>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Jobseeking Information</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="go('/tab/resume-update-jobseeking-information')" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-compose-outline positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body">
				<ion-list>
					<ion-item><span class="positive">Status</span>: {{jobseekingStatus[jsJobseekingStatus]}}</ion-item>
					<ion-item><span class="positive">Currently stay in</span>: {{currentlyStayIn}}</ion-item>

                    <ion-item><span class="positive">Availability period</span>: <span ng-show="availability !=-1">{{availability+' '+selectedavailabilityUnit.name}}</span></ion-item>

					<ion-item><span class="positive">Driving license</span>: {{drivingLicense?'Yes':'No'}}</ion-item>
					<ion-item><span class="positive">Own transport</span>: {{ownTransport?'Yes':'No'}}</ion-item>
				</ion-list>

				<!--
				Status					Satisfied with current job
				Currently stay in		Malaysia > Penang > Kuala Langat
				Availability period		4 Week(s)
				Driving license			Yes
				Own transport			Yes
				-->
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Job Preferences</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="go('/tab/resume-update-job-preferences')" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-compose-outline positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body">
				<ion-list>
					<ion-item><span class="positive">Expected Salary</span>: {{currency}} {{jobPref.salary}}</ion-item>
					<ion-item>
						<span class="positive">Preferred Job Type</span>:
						<br /> {{prefJobTypes}}
					</ion-item>
					<ion-item>
						<span class="positive">Preferred Working Location in Malaysia</span>:
						<br /> {{prefStates}}
					</ion-item>
					<ion-item ng-show="prefCountries">
						<span class="positive">Other Preferred Countries</span>:
						<br /> {{prefCountries}}
					</ion-item>
				</ion-list>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Work Experience</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="go('/tab/resume-update-selected-work-experience/0')" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-plus-empty positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body" ng-show="works.length > 0">
				<div class="list">
					<div class="item item-button-right" ng-repeat="work in works">
                        <div>
                            <button type="button" name="button" class="button button-link text-left" ng-click="go('/tab/resume-update-selected-work-experience/{{work._id}}')">
                                {{work.position}}
                            </button>
                        </div>
						{{work.company}}
						<br />{{work.started_on}}
						<div ng-show="work.resigned_on">
                            <br />{{work.resigned_on}}
						</div>

						<button class="button button-assertive" ng-click="removeWork(work)" type="button">
							<i class="icon ion-ios-close-empty"></i>
						</button>
					</div>
				</div>
			</div>

            <div class="item item-body" ng-show="works.length == 0 && js.no_work_exp == false">
                <div class="list">
                    <div class="item">
                        Do you have any work experience?
                        <div>
                            <button type="button" class="button button-positive" name="button" ng-click="answerWorkExp(1)">
                                <i class="ion-ios-checkmark-empty"></i> Yes, I do.
                            </button>

                            <button type="button" class="button button-light" name="button" ng-click="answerWorkExp(0)">
                                <i class="ion-ios-close-empty"></i> No, I don't.
                            </button>
                        </div>
                    </div>
                </div>
            </div>

		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Highest Education</div>
					<div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="go('/tab/resume-update-selected-education/0')" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-plus-empty positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body" ng-show="educations.length > 0">
				<div class="list">
					<div class="item item-button-right" ng-repeat="edu in educations">
                        <div>
                            <button type="button" name="button" class="button button-link text-left" ng-click="go('/tab/resume-update-selected-education/{{edu._id}}')">
                                {{edu.school}}
                            </button>
                        </div>
                        <span ng-show="edu.level.name">
                            {{edu.level.name}}
    						<br />
                        </span>
                        Graduated On: {{edu.date_graduated}}
						<br />
                        <span ng-show="edu.edu_field_id">{{educationField[edu.edu_field_id]}}</span>
						<button class="button button-assertive" ng-click="removeEdu(edu)">
							<i class="icon ion-ios-close-empty"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Skills</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="addNewSkillModal()" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-plus-empty positive"></i>
                        </button>
					</div>
				</div>
			</div>

            <div class="item item-body">
                <div class="list">
        			<div class="item item-button-right" ng-repeat="skill in skills">
                        <div>{{skill.value}}</div>
        				<button class="button button-assertive" ng-click="removeSkill(skill)">
        					<i class="icon ion-ios-close-empty"></i>
        				</button>
        			</div>
                </div>
            </div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Languages</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="addNewLanguageModal()" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-plus-empty positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-button-right" ng-repeat="language in savedLanguage track by language._id">
				<span ng-class="{positive: language.native ? true : false}">{{languageList[language.language_id].name}}</span>
				<button class="button button-assertive" ng-click="removeLanguage(language)">
					<i class="icon ion-ios-close-empty"></i>
				</button>
			</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Attached Resume</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="openResumeUploadModal()" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-android-attach positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body" ng-show="attachedResume">{{attachedResume}}</div>
		</div>

		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col col-75">Additional Info</div>
                    <div class="col col-25 text-right item-icon-right pt-0 pb-0">
                        <button type="button" name="button" ng-click="openAdditionalInfoModal()" class="button button-icon button-small button-block mt-0 mb-0">
                            <i class="icon ion-ios-compose-outline positive"></i>
                        </button>
					</div>
				</div>
			</div>

			<div class="item item-body" ng-show="additionalInfo.value" ng-bind-html="additionalInfo.value"></div>
		</div>
	</ion-content>
</ion-view>
